body {
    margin: 0;
  }
  
  .main {
    /* Atur gaya elemen utama di sini */
    height: 200vh; /* Contoh tinggi elemen untuk mendemonstrasikan efek scroll */
    background-color: #ff0000;
    transition: box-shadow 0.3s ease-in-out;
  }
  